

img{
    padding:0;
}


.maincontentarea--container{
    margin: 2rem;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 600px;
    grid-area: main-content;

}

.maincontentarea-title{
    font-size:56px;
    font-weight:900;
    background: linear-gradient(90deg, rgba(88,173,159,1) 0%, rgba(71,206,222,1) 25%, rgba(20,141,230,1) 50%, rgba(30,118,255,1) 75%, rgba(173,13,190,1) 100%);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    animation: 6s ease infinite gradient-loop;
    background-size:1000px 1000px;
    transition: filter 1s;
    grid-area: header;
    align-self: center;
    justify-self: center;
}
.maincontentarea-title:hover{
    
    filter:invert(1);
}

@-webkit-keyframes gradient-loop {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

@keyframes gradient-loop {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.maincontainerarea-company-title{
    background: linear-gradient(90deg, rgba(88,173,159,1) 0%, rgba(71,206,222,1) 25%, rgba(20,141,230,1) 50%, rgba(30,118,255,1) 75%, rgba(173,13,190,1) 100%);
    font-size: 20px;
    padding: 12px 48px;
}

.maincontentarea-company-duration{
    background: linear-gradient(90deg, rgba(88,173,159,1) 0%, rgba(71,206,222,1) 25%, rgba(20,141,230,1) 50%, rgba(30,118,255,1) 75%, rgba(173,13,190,1) 100%);
    
    font-size:16px;
    padding: 12px 24px;
}

.maincontentarea-company-role{
    background:black;
    font-size:16px;
    padding: 12px 24px;
    color:white;
}
.maincontentarea-description {
    transition: scale 0.3s linear;
    
}

.minimized{
    scale: 0;
}

.desc-l{
    translate: -275px 0px;
    opacity: 0.2;
}
.desc-r{
    translate: 275px 0px;
    opacity: 0.2;
}
.desc-b{
    opacity:0.2;
}

.maincontentarea-experience-description-container{
    display:flex;
    justify-content:center;
    position:relative;
    text-align:center;
    width:100%;
}

.maincontentarea-description{
    display:flex;
    flex-direction: column;
    height:800px;
    justify-content: center;
    max-width: 800px;
}
.maincontentarea-company-logo{
    align-self: center;
    max-height:140px;
    max-width:300px;
    padding:0;
}

.maincontentarea__company-logo-container{
    
    background:rgb(0,0,0,0.5);
    border-radius: 10px 10px 0 0;
    display:grid;
    height:250px;
    place-items:center;
}
.maincontentarea__description-container{
    border-radius: 0 0 10px 10px;
    font-size:16px;
    height:300px;
    line-height: 20px;
    padding:24px;
    text-align: center;
    word-break:normal;
    color:white;
    background:rgb(0,0,0,0.5);
}



.maincontentarea--slide-out-right{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: slide-out-right;
    animation-timing-function: ease-in-out;
}

@keyframes slide-out-right{
    0%{
        translate: 0px 0px;
        opacity: 1;
    }
    100%{
        translate: 275px 0px;
        opacity: 0.2;
        filter:blur(0.2rem);
    }
}

.maincontentarea--slide-in-right{
    animation-name: slide-in-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in-right{
    0%{
        translate: -275px 0px;
        opacity: 0.2;
        filter:blur(0.2rem);
    }
    100%{
        translate: 0em 0px;
        opacity: 1;
        filter:blur(0rem);
    }
}

.maincontentarea--slide-out{
    animation-name: slide-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.75;
    
}

@keyframes slide-out{
    0%{
        translate: 275px 0;
        opacity:0.2;
        filter:blur(0.2rem);
    }
    100%{
        translate: 0 0;
        opacity:0.2;
        filter:blur(0.3rem);
    }
}

.maincontentarea--slide-in{
    animation-name: slide-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.75;
}

@keyframes slide-in{
    0%{
        translate: 0 0;
        filter:blur(0.3rem);
    }
    100%{
        translate: -275px 0;
        filter:blur(0.2rem);
    }
}

@media (max-width: 1919px) {
    .maincontentarea-company-logo{
    max-height: 116px;
    max-width: 250px;
    }
    .maincontentarea__description-container{
        font-size:14px;
        word-break:normal;
        padding:24px;
        color:white;
        background:black;
    }
    .maincontainerarea-company-title{
        font-size: 16px;
        padding: 12px 48px;
    }
    .maincontentarea-company-duration{
        font-size:14px;
        padding: 12px 24px;
    }

  }

  @media (max-width: 1279px) {

  }

  @media (max-width:489px){
    .maincontentarea--container{
        margin:12px;
        min-height: 450px;
    }
    .maincontentarea-description{
        min-width:210px;
        justify-content: start;
    }
    .maincontentarea-company-logo{
        max-height: 70px;
        max-width: 150px;
        }
        .maincontentarea__description-container{
            font-size:12px;
            word-break:normal;
            padding:12px;
            line-height: 16px;
            color:black;
        }
        .maincontainerarea-company-title{
            font-size: 14px;
            padding: 12px 24px;
        }
        .maincontentarea-company-duration{
            font-size:12px;
            padding: 12px 12px;
        }
        .maincontentarea__company-logo-container{
            height:100px;
        }
}


